/* Body styles */
body {
    background: linear-gradient(15deg, #f2a7a7, #77b4f6);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 50px auto; /* Center the container */
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1, h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Input area styles */
.input-title {
    font-size: 25px;
    margin-bottom: 10px;
    color: #555;
}

.input-area {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 19px;
    resize: none;
    font-style: normal;
    font-family: 'Calibri', Times, serif;
}


.input-area:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Copy button styles */
#copyButton {
    display: block;
    margin: 0 auto; /* Center the button */
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copyButton:hover {
    background-color: #0056b3;
}

/* Additional styles for word count */
#wordCount {
    position: relative;
    bottom: 10px;
    right: 10px;
    color: #666;
    font-size: 15px;
}

#wordCount2 {
    position: relative;
    bottom: 10px;
    right: 10px;
    color: #666;
    font-size: 15px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#timer {
    font-size: 32px;
    margin-bottom: auto;
}

button {
    padding: 8px 15px;
    margin: 0 10px;
    font-size: 14px;
    border-color: #e1dede;
    border-radius: 5px;
}


/* Your existing CSS */

#timer {
    display: inline-block; /* Ensure the timer is displayed inline */
    margin-left: 20px; /* Adjust the spacing from the logo */
    font-size: 18px; /* Adjust the font size as needed */
    color: #333; /* Adjust the color for better visibility */
}
